@import url('https://api.mapbox.com/mapbox-gl-js/v3.8.0/mapbox-gl.css');
@import "tailwindcss";

@theme {
  --color-background: #F8FAFC;
  --color-surface: #FFFFFF;
  --color-text-primary: #0F172A;
  --color-text-secondary: #64748B;
  --color-border: #E2E8F0;
  --color-primary: #00B4D8;
  --color-success: #90BE6D;
  --color-warning: #F59E0B;
  --color-danger: #FF6B6B;
}